@use "@angular/material" as mat;
// @use '../theme-colors' as my-theme;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$red-palette,
      typography: Roboto,
    )
  );

  .dark-mode {
    color-scheme: dark;
  }
}
.red {
  @include mat.theme(
  (
    color: mat.$red-palette
  )
);
}

.green {
  @include mat.theme(
  (
    color: mat.$green-palette,
  )
);
}

.blue {
  @include mat.theme(
  (
    color: mat.$blue-palette,
  )
);
}

.yellow {
  @include mat.theme(
  (
    color: mat.$yellow-palette,
  )
);
}

.cyan {
  @include mat.theme(
  (
    color: mat.$cyan-palette,
  )
);
}

.magenta {
  @include mat.theme(
  (
    color: mat.$magenta-palette,
  )
);
}

.orange {
  @include mat.theme(
  (
    color: mat.$orange-palette,
  )
);
}

.chartreuse {
  @include mat.theme(
  (
    color: mat.$chartreuse-palette,
  )
);
}

.spring-green {
  @include mat.theme(
  (
    color: mat.$spring-green-palette,
  )
);
}

.azure {
  @include mat.theme(
  (
    color: mat.$azure-palette,
  )
);
}

.violet {
  @include mat.theme(
  (
    color: mat.$violet-palette,
  )
);
}

.rose {
  @include mat.theme(
  (
    color: mat.$rose-palette
  )
);
}


@import '../easy-theming.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}
